public
.idea
*.pyc

data/train/*
!data/train/.gitkeep

data/test1/*
!data/test1/.gitkeep


submission/pseudo_label/*
!submission/pseudo_label/.gitkeep

submission/segmentation/*
!submission/segmentation/.gitkeep

*.png
*.jpg
*.pth
*.pkl

models/*
!models/.gitkeep
pseudo_mask/models/resnet50Model
resnet50Model_statedict